body
 {
  
	background: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5)),
			url(image.jpg);
	background-size: cover;
	background-position: center;		
}

.login-box{
	max-width: 700px;
	float: none;
	margin: 150px auto;
}

.login-left{
	background: rgba(211,211,0.5);
	padding: 30px;
}

.login-right{
	background: #fff;
	padding: 30px;
}

.form-control{
	background-color: transparent ! important;
}

a{
	color: #fff !important;
	margin-top: -200px !important;
}

h1{
	color: #fff !important;
	margin-top: 200px !important;
	text-align: center;
	text-transform: uppercase;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
margin-bottom: 50px;
border-radius: 0;
}
    
/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
margin-bottom: 0;
}
   
/* Add a gray background color and some padding to the footer */
footer {
background-color: #f2f2f2;
padding: 25px;
}

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/